* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Menu Styling */
.menu {
  border: 1px solid black;
  background-color: white;
  /* color: red; */
  width: 250px;
  aspect-ratio: 1/0.5;
}

/* App.jsx Styling */
#app {
  background-image: url(./assets/fieldBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  width: 60%;
  margin: 0 auto;
}

.game {
  max-width: 60%;
  margin: 0 auto;
}

/* CARDS STYLING */

.cardDisplay {
  /* background-color: #242424; */
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}


.card {
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1.5;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.flipped {
  transform: rotateY(180deg);
}

.cardFront {
  background-color: darkcyan;
}

.cardFront img {
  width: 150px;
}

.cardFront, .cardBack {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
  background-image: url(./assets/cardBack.png);
  background-size: cover;
  background-position: center;
}